AnnonsTjanst/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AnnonsService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AnnonsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAnnonser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Annonser" nillable="true" type="tns:Annonser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnnonser" nillable="true" type="tns:ArrayOfAnnonser" />
  <xs:complexType name="Annonser">
    <xs:sequence>
      <xs:element minOccurs="0" name="annonsID" type="xs:int" />
      <xs:element minOccurs="0" name="annonsNamn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="beskrivning" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="betalningsmetod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bild" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datum" type="xs:dateTime" />
      <xs:element minOccurs="0" name="kategori" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pris" type="xs:double" />
      <xs:element minOccurs="0" name="profilID" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Annonser" nillable="true" type="tns:Annonser" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>